.Container {
    background-color: #202124;
    text-align: center;
}

.App {
    margin: auto;
    max-width: 425px;
    background-color: #fff;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    /* font-size: calc(10px + 2vmin); */
}

.splash {
    height: 100vh;
    display: flex;
    align-content: center;
}

.login-title {
    width: 55%;
}

@media (prefers-reduced-motion: no-preference) {
    .splash {
        animation-name: title-fade;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
    }

    .fade-in {
        animation: fade 0.5s ease-in-out;
    }
}

@keyframes title-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h4 {
    font-weight: 400;
}

.button:hover {
    background-color: #0063c7 !important;
}

.button:focus {
    box-shadow: none;
}

.btn-icon {
    width: 35px;
}

.shadow-btn-active {
    padding: 10px 8px 8px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.25);
    font-size: medium;
}

.shadow-btn-active:focus {
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.35);
}

.shadow-btn {
    border: 1px solid #c1e0ff;
    padding: 10px 8px 8px;
    border-radius: 15px;
    font-size: medium;
}

.shadow-btn:focus {
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.15);
}

.dark-blue-faded a:hover {
    text-decoration: underline !important;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
}
