.Container {
    background-color: #202124;
    text-align: center;
    user-select: none;
    height: 100vh;
}

.App {
    height: 100%;
    max-width: 425px;
    margin: auto;
    background-color: #fff;
    overflow: auto;
}

.splash {
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-primary {
    color: #0078f0 !important;
}

@media (prefers-reduced-motion: no-preference) {
    .splash.splash-1 {
        animation-name: title-fade;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
    }

    .fade-in {
        animation: fade 0.5s ease-in-out;
    }
}

@keyframes title-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-device-width: 425px) {
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: #859bb0;
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #244363;
        border-radius: 1rem;
    }
}

.login-title {
    width: 55%;
}

.home {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: 400;
}

.button:hover {
    background-color: #0063c7 !important;
}

button:focus {
    box-shadow: none !important;
}

.btn-icon {
    width: 35px;
}

.shadow-btn-active {
    padding: 10px 8px 8px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.25);
    font-size: medium;
}

.shadow-btn-active:focus {
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.35);
}

.shadow-btn {
    border: 1px solid #c1e0ff;
    padding: 10px 8px 8px;
    border-radius: 15px !important;
    font-size: medium;
}

.shadow-btn:focus {
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.15);
}

.dark-blue-faded a:hover {
    text-decoration: underline !important;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
}

.title-head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.3rem 1.3rem 2.2rem;

    button:after {
        content: none;
    }
}

.user-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    overflow: hidden;
    // padding: 30px 0 14px 25px;

    h3 {
        font-size: 22px;
        margin-bottom: 0.5px;
        max-width: 100%;
    }

    h6 {
        font-size: 15px;
        margin-bottom: 0;
        max-width: 31ch;
    }
}

.dropdown-toggle {
    border: 0.15rem solid transparent;

    &:active {
        border: 0.15rem solid #c1e0ff;
    }
}

.center-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-size: 21px;
        margin: 8px;
    }
}

.blue-btn {
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 55, 111, 0.25);

    &:focus {
        box-shadow: 0px 2px 20px rgba(0, 55, 111, 0.25);
    }
}

.dark-blue-btn {
    height: 3.2rem;
    width: 65%;
    border-radius: 0.9rem;
    box-shadow: 0 0.5rem 1.4rem 0.35rem rgba(57, 102, 149, 0.34);

    &:hover {
        background-color: #002a55 !important;
    }
    &:focus {
        box-shadow: 0 0.25rem 1rem 0.25rem rgba(57, 102, 149, 0.34);
    }
    span {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        div:nth-child(1) {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
        }

        // &:nth-child(1) {
        //     float: left;
        //     line-height: 2rem;
        //     overflow: hidden;
        //     white-space: nowrap;
        //     text-overflow: ellipsis;
        // }
        // &:nth-child(2) {
        //     float: right;
        //     line-height: 1.8rem;
        // }
    }
}

.white-card {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 8px 20px rgba(0, 55, 111, 0.1);
}

//...................//

.chart-box {
    height: 200px;
    width: 200px;
    align-self: center;
    margin: 12px;
    filter: drop-shadow(10px 8px 20px rgba(0, 55, 111, 0.1));
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.items-box {
    height: min-content;
    min-width: 7.75rem;
    max-width: 7.75rem;
    border-radius: 13px;
    text-align: left;
    margin: 0 0.2rem;

    h6 {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    h3 {
        margin: 0;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    p {
        margin: 0;
        font-size: 14px;
        line-height: 1rem;
    }
    span {
        font-size: 24px;
        font-weight: 600;
        line-height: 2rem;
    }
}

.center-container button,
.center-container a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    &:hover {
        color: white;
    }
}

.order-items-number {
    font-size: 33px;
    font-weight: 600;
}

.order-items-text {
    font-size: 14px;
    font-weight: 500;
    color: #859bb0;
}

.small-text {
    color: #859bb0;
    font-weight: 500;
}
