@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Comfortaa",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pointer-events-none {
  pointer-events: none !important;
}

.Montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.Comfortaa {
  font-family: "Comfortaa", cursive !important;
}

.bg-blue,
.bg-Curd {
  background-color: #0078f0 !important;
  color: #fff !important;
}

.blue,
.Curd {
  color: #0078f0 !important;
}

.bg-dark-blue {
  background-color: #00376f !important;
}

.dark-blue {
  color: #00376f !important;
}

.dark-blue-faded {
  color: #8095a8 !important;
  font-weight: 400;
}

.light-bg {
  background: linear-gradient(
    180deg,
    rgba(234, 241, 248, 1) 60%,
    rgba(234, 241, 248, 0) 100%
  );
  border-radius: 50px 50px 0px 0px;
}

.orange,
.Milk {
  color: #ffa800 !important;
}

.border-Milk {
  border-color: #ffa800 !important;
}

.bg-Milk {
  background-color: #ffa800 !important;
}

.border-Curd {
  border-color: #0078f0 !important;
}
.green,
.Special {
  color: #15bd15 !important;
}

.border-SpecialCurd {
  border-color: #15bd15 !important;
}

.bg-SpecialCurd {
  background-color: #15bd15 !important;
}
